{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<h1>Search Results</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% if search_results %}
      <h5 class="text-center">Found {{ search_results|length }} user{{ search_results|pluralize }}</h5>
      {% else %}
      <h5 class="text-center"> Found 0 user with username <strong>{{message}}</strong></h5>

      <a class="d-block mx-auto" href="/">
          <button class="btn btn-sm btn-info d-block mx-auto">Back Home</button>
      </a>
      {% endif %}
      <hr>

      {% for user in users %}
      <ul class="list-unstyled">
        <li class="card card-body mb-2 mt-4">
          <div class="media">
            <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle" height="60" width="60">
            <div class="media-body">
              <h4 class="account-heading ml-4"><a  href="{% url 'user_profile'  username=user.username %}">{{ user.username }}</a></h4>
              {{ user.bio }}
            </div>
          </div>
        </li>
      </ul>
    {% endfor %}
  </div>
  <div class="col-md-3"></div>
</div>
</div>


{% endblock %}